page-profile {
  ion-img {
    img {
      border-radius: 50%;
    }
  }
  .avatarProfile{
    max-width: 100%;
    border: solid 3px;
    border-radius: 50%;
    border-color: #EA1646;
    height: 120px;
    width: 120px;
    margin-bottom: 5em;
  }
}
